.mn-content{
    margin: auto;
    max-width: 800px;
    .hero{
        text-align: center;
        h1{
            padding: 100px 0 80px 0;
            font-size: 70px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        p{
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 2px;
            padding-bottom: 80px;
        }
        h3{
            text-transform: uppercase;
            font-size: 25px;
            padding-bottom: 40px;
            letter-spacing: 2px;
            line-height: 40px;
        }
        h2{
            font-size: 50px;
            letter-spacing: 3px;
            padding-bottom: 80px;
        }
        iframe{
            padding: 10px 0 80px 0;
        }
    }
}
