@import "../../../css-config/mixins.scss";


.test-s{
    background-color: #0202020c;
    padding-bottom: 110px;
    .slide-sm{
      margin: auto;
      max-width: 1200px;
    }

}
.swiper {
  width: 100%;
  height: 100%;
}


.heading-t{
  h1{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 60px;
    font-size: 36px;
    font-weight: 500;
  }
}
.slide{
  height: 750px;
  padding: 40px;
  @include md{
    padding: 0px;
    height: 700px;
  }
  
  .test-card{
    background-color: #fff;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    border-radius: 10px;
    h1{
      font-size: 25px;
      width: 400;
      padding: 30px 0;
    }
    svg{
      font-size: 70px;
      color: #1b75bc;
      padding: 0 0 30px 0;
    }
    p{
      text-align: center;
      color: #000000ab;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.5px;
      padding: 0;
    }
    h4{
      font-size: 20px;
      padding: 20px 0 10px 0;
      font-weight: 500;
    }
    h6{
      font-size: 16px;
      padding: 0 0 10px 0;
      font-weight: 300;
    }
    span{
      font-size: 14px;
      color: #1b75bc;
      padding: 0 0 30px 0;
    }
  }

}
