.scends {
    max-width: 85%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    .img-long {
        .ib1 {
            width: 100%;
        }
    }

    .two-img {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;

        img {
            width: 260px;
            height: 280px;
            object-fit: cover;
        }
    }

    .text-sec {
        max-width: 95%;

        .desc {
            padding-left: 0px;

            h4 {
                font-size: 18px;
                color: #1b75bc;
                line-height: 20px;
                padding-bottom: 15px;
                letter-spacing: 1px;
            }

            h1 {
                font-size: 40px;
                color: #000;
                line-height: 50px;
                padding-bottom: 15px;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1px;
                color: #0000009f;
                padding-bottom: 50px;
            }
        }

        .bullets {
            display: grid;
            grid-template-columns: 50% 50%;

            .ab {
                h5 {
                    font-size: 18px;
                    color: #154d77;
                    padding: 10px 0;
                }
            }
        }
    }
}
.theds{
    margin: auto;
    max-width: 85%;

    .img{
        padding: 110px 0;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}